<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python38-32\python.exe|D:\Python38-32\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="hhcensus.wsgi.application" />
    <!-- add key="WSGI_LOG" value="D:\hhcensus_project\logs\hhcensus_wfastcgi.log"/ -->
    <add key="PYTHONPATH" value="D:\hhcensus_project\" />

    <!-- Optional settings -->
    <add key="DJANGO_SETTINGS_MODULE" value="hhcensus.settings" />
  </appSettings>
</configuration>