<p style="color:white;">{{ now }}"</p>
<nav class="nav-bar">
	
	<button onclick="window.location.href = 'home'">home</button>
	<button onclick="window.location.href='notifications'" title="Enter Census Changes"> Notifications </button>
	<button onclick="window.location.href='daily_error_details'" title="Access View (Daily Errors and Totals)">Daily Errors/Totals</button>
	<button onclick="window.location.href='census_edit'" title="Census Tracking - Nursing View">Nightly Bed Check </button>
	<button onclick="window.location.href='monthly_summary'" title="Summarize Errors and Census"> Monthly Summary </button>
	<button onclick="window.location.href='resident_location'" title="Resident Location last midnight"> Resident Location </button>
	<button onclick="window.location.href='http://intranet'" title="Return to Intranet" class="logout-button"	>Intranet</button>
</H2>
</nav>
