{% extends 'webapp/base.html' %}


{% block content %}
 {% load app_filters %} 
<body width="90%">

<script type="text/javascript">
 $( function() {
		//setTimeout("timout()", 60000 * 5);		
		console.log("started");

    $("#selectmonth").change(function(){
		console.log("gothere");
        var yyyy_mm_dd = $(this).children("option:selected").val();
		location.href  = "monthly_summary?start="+yyyy_mm_dd ;
        //alert("You have selected the date - " + yyyy_mm_dd);

    });	
      
   }); //-------------------end init


		
function timout()	{
		location.href = "{% url 'webapp:logout' %}"
	}
	


		
</script>
<h1 class="big-black-box"> Census Monthly Summary </h1>

<div id="top"  >
	<select id="selectmonth">
			{% for item in months %}
				<option value="{{item|date:'Y-m-d'}}" 
				{% if item == selectedmonth %}selected="selected"{% endif %}>
				{{item|date:'F Y'}}
				</option>
			{% endfor %}
	</select>


<button class="round_button" onclick="window.print()"> Print </button>

</div>

	
		
		


<table cellspacing="1" cellpadding="2" bgcolor="#000000" class="TableRedAndGreen">
<thead>
<tr style="font-weight:bold;background-color:white" >	
	<td>Weekday</td>
	<td>Date</td>
	{% for unit in units %}
		<td>{{unit}}</td>
	{%endfor%}
</tr>
</thead>
<tbody id="bedcheck">
{% for repdate in errors %}
	<tr> 
		<td style="font-weight:bold;background-color:white">{{repdate|date:'l'}}</td>
		<td style="font-weight:bold;background-color:white"> {{repdate|date:'n/j/Y'}}</td>
		{% for unit in units %}
			{% if errors|lookup:repdate|lookup:unit == maxdays %}
				<td style="background-color:#cc3300"></td>
			{% elif errors|lookup:repdate|lookup:unit != 0 %}
				<td style="background-color:red;color:white">{{errors|lookup:repdate|lookup:unit}}</td>
			{% else %}
				<td></td>
			{% endif %}
		{% endfor %}		
	</tr>
{%endfor%}

	<tr class="empty-transparent-row"> <td  class="empty-transparent-row"<div style="background-color:black;"></div></td> </tr>
	<tr style="background-color:white;color:black;align:center">
		<td>Summary</td>
		<td>Total</td>
		<td colspan="{{units|length}}"> Units </td>
	</tr>
	{% for total in totals %}
	<tr style="color:white;background-color:{{total|lookup:'background'}};">
		
		<td style="text-align:right">{{total|lookup:'title'}}</td>
		<td style="text-align:right;">{{total|lookup:'total'}}</td>
		{% for unit in units %}
			<td style="text-align:center;">{{total|lookup:unit}}</td>
		{% endfor %}
	</tr>
	{%endfor%}
	


</body>
{% endblock %}